@import url('https://fonts.googleapis.com/css?family=Poppins:300');

@tailwind base;
@tailwind components;

* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind utilities;
